tmp/*
utils/index.json
utils/index.bak*

utils/settings.json

utils/user_actions.json

plugins/*
!plugins/README.md
!plugins/FUNCTION_INDEX.md

data/users.json

data/users-bak.json

data/plugin_users.json

data/models/*.json
!data/models/admin_modules.json

jstest.php

data/audit_log.json

data/failed_logins.json

composer/composer.json

composer/vendor/

composer/composer.lock

composer/composer_update.log

data/audit.json

*.log
